#header {
    height: 80px;
    background: #CCC;
}

#center {
    overflow: hidden;
    zoom: 1;
}

#sidebar-l {
    float: left;
    width: 200px;
    margin-top: 10px;
    height: 200px;
    background: #AAA;
}

#main-wrapper {
    margin-top: 10px;
    float: left;
    width: 100%;
    margin-left: -420px;
    height: 200px;
}

#main {
    margin-left: 438px;
    background: #999;
    height: 200px;
}

#sidebar-r {
    float: right;
    width: 200px;
    margin-top: 10px;
    height: 200px;
    background: #AAA;
}

#footer {
    height: 50px;
    margin-top: 10px;
    background: #CCC;
}
