{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}
{% block content %}

    <div class="container">
        <form action="/_teacher/delete_student/" method="post">
            {% csrf_token %}
            <div class="col-md-6 col-md-offset-4 ">
                {% if message %}<div class="alert alert-warning">{{ message }}</div>{% endif %}
                <div class="form-inline">
                    <div class="form-group">
                        <h2 align="center">删除学生信息</h2>
                        <label for="Student_ID">学号：</label>
                        <input type="text" class="form-control" id="Student_ID" name="Student_ID" placeholder="学号" autofocus required/>
                        <button type="submit" class="btn btn-danger pull-right">提交信息</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
