{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% if request.session.is_login %}
{#        <h1 align="center">你好,{{ request.session.exam_id }}！欢迎回来！</h1>#}
        <div class="container">
            <form action="/index/" method="post">
                {% csrf_token %}
                <div style="overflow:auto;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>班级</th>
                            <th>学号</th>
                            <th>考场地点</th>
                            <th>姓名</th>
                            <th>考场座位号</th>
                            <th>考试时间</th>
                            <th>是否签到</th>
                            <th>是否注册人脸</th>
                            <th>最后签到时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for name in names %}
                            <tr>
                                <td>{{ name.Class_Name }}</td>
                                <td>{{ name.User_Id }}</td>
                                <td>工2-{{ name.Exam_Site }}</td>
                                <td>{{ name.User_Name }}</td>
                                <td>{{ name.Exam_Number }}</td>
                                <td>{{ name.Exam_Time }}</td>
                                <td>{{ name.Is_Attend }}</td>
                                <td>{{ name.Is_Add_Face }}</td>
                                <td>{{ name.Attend_Time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

                <button type="submit" class="btn btn-primary pull-right">查看全部</button>
            </form>
        </div>
    {% else %}
        <h1 align="center">请登陆考场！</h1>
    {% endif %}


{% endblock %}